<html>

<head>
  <%- include('commons/head'); -%>
</head>

<body>
  <%- include('commons/header'); -%>
    <section class="container">
      <h2>Início</h2>
      <p class="lead">
        Bem-vindo à LS CONNECT, a loja de celulares que oferece os
        mais recentes dispositivos móveis e acessórios tecnológicos para atender
        às suas necessidades digitais. Nossa loja é especializada em smartphones,
        tablets e wearables de marcas líderes de mercado como Apple, Samsung, Xiaomi
        e Huawei. Oferecemos uma ampla variedade de modelos e recursos, desde
        dispositivos básicos até os mais avançados, para garantir que você encontre
        o aparelho perfeito para seu estilo de vida.
      </p>
      <p class="lead">
        Além dos produtos, nossos especialistas em tecnologia estão sempre prontos
        para ajudá-lo a escolher o melhor dispositivo e orientá-lo sobre as melhores
        práticas de uso, para que você possa aproveitar ao máximo seu novo aparelho.
        Também oferecemos serviços de reparo e manutenção de dispositivos, incluindo
        troca de tela, bateria e reparos em software, tudo com garantia e qualidade.
        Visite-nos hoje mesmo e descubra o que a LS CONNECT pode fazer por você!
      </p>
    </section>
    <%- include('commons/footer'); -%>
</body>

</html>