<footer class="text-center p-3 bg-dark fixed-bottom border-top border-1">
  <p class="m-0 small">
    Copyright &copy; LS-CONNECT 2023.<br>
    Todos os direitos reservados
  </p>
</footer>
<div class="p-5 invisible"></div>
